/* common style */
ul li {
    float: left;
    list-style: none;
}

p,
div,
span,
li,
button {
    color: #668b66
}

/* connect wallet template */
.user {
    min-height: 200px;
    border: 1px solid #abcdef;
}

.user>.el-button {
    margin-top: 70px;
}

.user>p {
    float: right;
}

.userW>ul li {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
}


.nftlist {
    width: 105px;
    height: 100px;
    padding: 0px;
}

.nftlist img {
    width: 80px;
    margin: 0;
}

.labels {
    font-size: 20px;
    line-height: 60px;
}

.el-select-dropdown__item.selected {
    color: #668b66;
}

.el-select .el-input__inner:focus {
    border-color: #d1fcd1;
}

.el-select .el-input.is-focus .el-input__inner {
    border-color: #d1fcd1;
}

.el-select .el-input__inner {
    background-color: #668b66;
    color: #d1fcd1;
    border: #d1fcd1 1px solid;
    border-radius: 5px;
}

.el-select:hover .el-input__inner {
    border: #d1fcd1 1px solid;
}

.el-select .el-input__inner:focus {
    color: #d1fcd1;
}